<app-navbar></app-navbar>

<div style="display: flex;">
  <mat-card *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto; width: 300px; margin: 20px;">
    <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
    </mat-card-header> 

    <img src={{movie.imageURL}} alt={{movie.title}}/>

    <mat-card-actions style="justify-content: center;">
      <button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.genre.name, movie.genre.description)"
      >
        Genre
      </button>

      <button 
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.director.name, movie.director.bio, movie.director.birth)"
      >
        Director
      </button>

      <button 
        mat-button 
        color="primary"
        (click)="openSynopsisDialog(movie.title, movie.description)"
      >
        Synopsis
      </button>

      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions> 
  </mat-card>
</div>
